<?php

return [
    'components' => [
        'db' => [
            'class' => 'yii\db\Connection',
            'dsn' => 'mysql:host=docker_host_mysql;port=3306;dbname=app',
            'username' => 'root',
            'password' => 'root',
            'enableSchemaCache' => false,
            'schemaCacheDuration' => false,
            'schemaCache' => false,
        ],
    ],
];